<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An AI-Powered Face Emotion Recognizer">
    <meta name="author" content="Shrenik Jain Shreyash Rajurkar Hrutika Chavan">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Face Physiognomy</title>

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/templatemo-breezed.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/owl-carousel.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/lightbox.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/style.css') }}">

    <!-- Icons -->
    <link rel="icon" href="{{ url_for('static', filename='/assets/images/title-logo-removebg-preview.png') }}">

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='/assets/images/title-logo-removebg-preview.png') }}">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            Physiognomy
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">Project</a></li>
                            <li class="scroll-to-section"><a href="#features">Creators</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Search Area ***** -->
    <!-- <div id="search">
        <button type="button" class="close">×</button>
        <form id="contact" action="#" method="get">
            <fieldset>
                <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
            </fieldset>
            <fieldset>
                <button type="submit" class="main-button">Search</button>
            </fieldset>
        </form>
    </div> -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="static/assets/images/sample.jpg" alt="">
                    <div class="text-content">
                        <h3>Let's Know Your Mood</h3>
                        <h5>Make A Choice</h5>
                        <a onClick="window.location.href='video_feed';" class="main-stroked-button">Web Camera</a>

                        <form class="" action="{{ url_for('image_upload') }}" , method="POST" ,
                            enctype="multipart/form-data">
                            <label> Upload Image
                                <input type="file" , onchange="this.form.submit()" name="image" />
                            </label>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Item End -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About The Project</h6>
                            <h2>Face Emotion Recognition</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/assets/images/service-item-01.png" alt="">
                                    <h4>Deep Learning</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/assets/images/service-item-01.png" alt="">
                                    <h4>Python & Flask</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/assets/images/contact-info-03.png" alt="">
                                    <h4>HTML & CSS</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/assets/images/contact-info-03.png" alt="">
                                    <h4>Docker</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href="https://github.com/shrenik-jain/face-physiognomy" class="main-button-icon">
                                    Github <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>An AI-Powered technology that analyses facial expressions from static images and videos in
                            order to reveal information on one's emotional state.
                            <br><br>Redistributing this template as a downloadable ZIP file on any template collection
                            website is strictly prohibited. You will need to talk to us if you want to redistribute this
                            template. Thank you.
                            <br><br>This is a Bootstrap v4.3.1 CSS layout. Do you like it? You can feel free to <a
                                rel="nofollow noopener" href="https://templatemo.com/contact" target="_parent">talk to
                                us</a> if you have anything.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="static/assets/images/features-icon-1.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Shrenik Jain</h4>
                            <p style="font-weight: 600;">A final year undergrad pursuing my Bachelor's focused on Electronics and Telecommunication from <a href="https://www.viit.ac.in/"> VIIT, Pune</a>. Currently working as a SWE at <a href="https://www.qualys.com/">Qualys Inc.</a></p>
                            <a href="https://shrenik-jain.github.io/" class="text-button-icon">
                                Know More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="static/assets/images/features-icon-1.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Shreyash Rajurkar</h4>
                            <p style="font-weight: 600;">Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam.
                                Duis ac condimentum eros.</p>
                            <a href="https://www.linkedin.com/in/shreyash-rajurkar-251012204/" class="text-button-icon">
                                Know More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="static/assets/images/features-icon-1.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Hrutika Chavan</h4>
                            <p style="font-weight: 600;">Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam.
                                Duis ac condimentum eros.</p>
                            <a href="https://www.linkedin.com/in/hrutika-chavan-22a153177/" class="text-button-icon">
                                Know More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p style="font-size: 2.5rem; font-weight: 650;">Thank You</p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">
                            <!-- <li><p>Follow Us</p></li> -->
                            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/bootstrap.min.js') }}"></script>


    <!-- Plugins -->
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/owl-carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/scrollreveal.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/waypoints.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='/assets/js/jquery.counterup.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/imgfix.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/slick.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/lightbox.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/isotope.js') }}"></script>

    <!-- Global Init -->
    <script type="text/javascript" src="{{ url_for('static', filename='/assets/js/custom.js') }}"></script>

    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

</body>

</html>